
{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Address lookup
      </h1>

      <p class="govuk-body-l">This is a work in progress project documenting different designs for an address lookup component. It is not intended for re-use at this time.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="single-postcode-input-step-1" class="govuk-link">Single postcode input</a></li>
        <li><a href="single-postcode-input-HO-step-1" class="govuk-link">Single postcode input (Home Office)</a></li>
        <li><a href="house-number-postcode-input-step-1" class="govuk-link">House number and Postcode inputs</a></li>
        <li><a href="single-input-step-1" class="govuk-link">Single input (Google style)</a></li>
        <li><a href="single-input-google-step-1" class="govuk-link">***WIP*** Single input (Google API)</a></li>
      </ul>

    </div>
</div>

{% endblock %}
